a{
    font-weight: 900;
      position: relative;  
  }
  
  a::before {
    content: '';
    position: absolute;
    background-color: #FF7769;
    height: 10px;
    width: 110%;
    left: -5%;
    bottom: 0;
    z-index: -1;
    transition: height 0.4s;
}  
  
  a:hover::before {
    bottom: 0;
    height: 100%;
  }
  
  .learn {
    font-family: 'Fraunces', serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
} 