html,body{
    max-width: 100%;
    overflow-x: hidden;
}

header{
    background-image: url(../img2/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.one{
    background-image: url(../img2/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 200px;
}

.two{
    background-image: url(../img2/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    margin-bottom: 100px;
    margin-top: 100px;

}
.three{
    padding-top: 300px; 
    padding-bottom: 20px;
    padding-left: 30%; 
    font-weight: 900;
    font-size: 46px;
    color: #23303B;
    letter-spacing: 2px;  
    padding-right: 20%;


}
/* h2{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 46px;
    color: #23303B;

} */
.p1{
    color: #86858B;
    margin-bottom: 25px;
padding-left: 30%;
font-family: 'Barlow', sans-serif; 
font-size: 18px;
font-weight: 600;
padding-right: 20%;

} 
.p2{
     padding-left: 30%;
    font-size: 18px;
    font-weight: 600;
    padding-right: 20%;
    color: #86858B; 

}
.four{
     font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 46px;
    color: #23303B;
    padding-left: 30%;
    padding-right: 20%; 
    letter-spacing: 2px;  
}
.h3{
padding-top: 90%;
}