html,body{
    max-width: 100%;
    overflow-x: hidden;
}

header{
    background-image: url(../img2/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.one{
    background-image: url(../img2/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.two{
    background-image: url(../img2/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}