html,body{
    max-width: 100%;
    overflow-x: hidden;
}

header{
    background-image: url(../img2/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.one{
    background-image: url(../img2/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 200px;
}

.two{
    background-image: url(../img2/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
    margin-bottom: 100px;
    margin-top: 100px;

}
.three{
    padding-top: 300px; 
    padding-bottom: 20px;
    padding-left: 30%; 
    font-weight: 900;
    font-size: 46px;
    color: #23303B;
    letter-spacing: 2px;  
    padding-right: 20%;


}
/* h2{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 46px;
    color: #23303B;

} */
.p1{
    color: #86858B;
    margin-bottom: 25px;
padding-left: 30%;
font-family: 'Barlow', sans-serif; 
font-size: 18px;
font-weight: 600;
padding-right: 20%;

} 
.p2{
     padding-left: 30%;
    font-size: 18px;
    font-weight: 600;
    padding-right: 20%;
    color: #86858B;

}
.four{
    padding-left: 30%;
    padding-right: 20%; 
    padding-top: 300px;
    font-weight: 900;
    font-size: 46px;
    color: #23303B;

}
.h3{
padding-top: 70%;
margin-bottom: 15px;
text-align: center;
font-size: 34px;
font-family: 'Fraunces', serif;
 font-weight: 900;
 color: #1F5449;

}
.p3{
    padding-left: 30%;
    padding-right: 20%;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1F5449;
}
.h4{
    padding-top: 70%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 34px;
    font-family: 'Fraunces', serif;
     font-weight: 900;
     color: #1F5449;
    }
.p4{
    padding-left: 30%;
    padding-right: 20%;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #1F5449;

}

.team-boxed h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
  }
  
  @media (max-width:767px) {
    .team-boxed h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .team-boxed .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .team-boxed .intro p {
    margin-bottom:0;
  }
  
  .team-boxed .people {
    padding:50px 0;
  }
  
  .team-boxed .item {
    text-align:center;
  }
  
  .team-boxed .item .box {
    text-align:center;
    padding:30px;
    background-color:#fff;
    margin-bottom:30px;
  }
  
  .team-boxed .item .name {
    font-weight:bold;
    margin-top:28px;
    margin-bottom:8px;
  }
  
  .team-boxed .item .title {
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:2px;
    font-size:13px;
  }
  
  .team-boxed .item .description {
    font-size:15px;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .team-boxed .item img {
    max-width:160px;
  }
  
  .team-boxed .social {
    font-size:18px;
  }
  
  .team-boxed .social a {
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  
  .team-boxed .social a:hover {
    opacity:1;
  }
.text{
    color: #A4A7A9;
   letter-spacing: 4px;
 } 
   .descrip{
    color: #595a5d;
} 
.tit{
    color: #B4B3B1;
}
.a1{
    text-align: center;
    padding-left: 45%;
    color: black;
    text-decoration: none;
}
.a2{
    text-align: center;
    color: black;
    text-decoration: none;

}
.a3{
    text-align: center;
    color: black;
    text-decoration: none;

}
.sec{
    background: #90D4C5;
    padding-bottom: 20%;
    
}